<p>error-page works!</p>

<ul>
  <li>
    <a routerLink="/auth/login">
      Ir al login
    </a>
  </li>
  <li>
    <a routerLink="/auth/registro">
      Ir a registro
    </a>
  </li>
  <li>
    <a routerLink="/heroes/listado">
      Ir a heroes/listado
    </a>
  </li>
  <li>
    <a routerLink="/heroes/agregar">
      Ir a heroes/agregar
    </a>
  </li>
  <li>
    <a routerLink="/heroes/editar">
      Ir a heroes/editar
    </a>
  </li>
  <li>
    <a routerLink="/heroes/buscar">
      Ir a heroes/buscar
    </a>
  </li>
  <li>
    <a routerLink="/heroes/:id">
      Ir a heroes/heroe
    </a>
  </li>

</ul>

